################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YoloAnnotationUpdater/.vs/YoloAnnotationUpdater/v16
/YoloAnnotationUpdater/YoloAnnotationUpdater.App/bin/
/YoloAnnotationUpdater/YoloAnnotationUpdater.Lib/bin/
/YoloAnnotationUpdater/YoloAnnotationUpdater.Tests/bin/
/YoloAnnotationUpdater/YoloAnnotationUpdater.App/obj/
/YoloAnnotationUpdater/YoloAnnotationUpdater.Lib/obj/
/YoloAnnotationUpdater/YoloAnnotationUpdater.Tests/obj/
/YoloAnnotationUpdater/.vs/YoloAnnotationUpdater/DesignTimeBuild/.dtbcache
/YoloAnnotationUpdater/YoloAnnotationUpdater.sln.DotSettings.user
/YoloAnnotationUpdater/YoloAnnotationUpdater.App/Properties/launchSettings.json
/YoloAnnotationUpdater/.vs/YoloAnnotationUpdater/config/applicationhost.config
